        <footer class="footer">
            <h3>Universidad Tecnológica de la Mixteca</h3>
            <h4>Ingenirería en computación</h4>
            <h5 sytle=" margin:10px;">Cisneros Oropeza Carlos Manuel</h5>
            
            <p style="font-size: small; margin:0;">Esta pagina esta creada con el fin de mostrar todo lo que soy capaz de hacer con mis conocimientos en desarrollo web page
                , mas que nada demostrar que en la UTM aprendes por que aprendes que
                no solo lo que los profesores te muertran.</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="./js/bootstrap.min.js"></script>
    </body>
</html>